venvMTACR/

Additional/
Datasets/
Urls/
Temp/
Corpus/

data/datasets/
data_datasets/
data_preprocessed/
data_explored/
data_normalized/
data_aligned/

applications/
*.pyc

experiments/annotation-potato/venvPotato/
experiments/annotation-potato/potato/
experiments/embeddings_sentenceBERT/
experiments/parsing_NLTK/

venvTextAsCorpusRep/

nltk_data/
fastText/
