venvMTACR/

data/raw/
data/temp/
data/clean/
data/monolingual/
data/multilingual/
data/output/
data_old/
logs/

Additional/
Datasets/
Urls/
Temp/
Corpus/

data/datasets/
data_datasets/
data_preprocessed/
data_explored/
data_normalized/
data_aligned/

applications/
*.pyc

experiments/annotation-potato/venvPotato/
experiments/annotation-potato/potato/
experiments/embeddings_sentenceBERT/
experiments/parsing_NLTK/

experiments/analyze_text_data/data/combined/
experiments/analyze_text_data/data/combined_21_12_2023_basic_approach/
experiments/analyze_text_data/data/combined_22_12_2023_confidence_thresholds/
experiments/analyze_text_data/data/intermediate/
experiments/analyze_text_data/data/models/

venvTextAsCorpusRep/

nltk_data/
fastText/
